{% load static %}

<!-- Header Section -->
<header class="header">
    <div class="container">
        <a href="{% url 'home' %}" class="display-6"><b>Customer Relationship Management System</b></a>
        <nav class="header__nav">
            <input type="checkbox" id="responsive-menu" />
            <label for="responsive-menu" class="toggle-menu">
                <span>Menu</span>
                <div class="toggle-menu__lines"></div>
            </label>
            <ul class="header__menu">
                {% if request.user.is_authenticated %}
                <li class="header__menuItem"><a href="{% url 'analyse:organization_list' %}">Organizations</a></li>
                <li class="header__menuItem"><a href="{% url 'analyse:create_organization' %}">New Organization</a></li>
                <li class="header__menuItem"><a href="{% url 'followup:quote_list' %}">Quotes</a></li>
                <li class="header__menuItem"><a href="{% url 'home' %}" class="btn btn--main">{{ request.user|capfirst }}</a></li>
                <li class="header__menuItem"><a href="{% url 'user:logout' %}" class="btn btn--sub">Logout</a></li>
                {% else %}
                <li class="header__menuItem"><a href="{% url 'user:login' %}" class="btn btn--sub">Login</a></li>
                {% endif %}
                <li><a href="{% url 'search' %}">Search</a></li>
            </ul>
        </nav>
    </div>
</header>